<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://contactmanager0827.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>contactmanager0827.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ContactManager0827</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ContactManager0827</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:fypxd5ck6y.database.windows.net,1433;Initial Catalog=ContactManager0827_db;User ID=dbuser@fypxd5ck6y;Password=NJbf1991" Name="Data Source=tcp:fypxd5ck6y.database.windows.net,1433;Initial Catalog=ContactManager0827_db;User Id=dbuser@fypxd5ck6y;Password=NJbf1991;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ContactManager.Models.ApplicationDbContext, ContactManager" MigrationConfiguration="ContactManager.Migrations.Configuration, ContactManager" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:fypxd5ck6y.database.windows.net,1433;Initial Catalog=ContactManager0827_db;User Id=dbuser@fypxd5ck6y;Password=NJbf1991;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>